<div class="container">

  <div class="row">
    <div class="col-12 mt-5 heading-en">
      <h2><mark class="bg-secondary text-light"><i class="fa-solid fa-user mr-2"></i>My Page 編集</mark></mark></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 ml-5">
      <%= form_with model:@customer, url: customer_path(@customer), method: :patch, local: true do |f| %>
        <table class="table table-light text-body align-middle table-bordered">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td  class="font-weight-bolder table-bg-color">
                <%= f.label :profile_image, "プロフィール写真", class: "ml-3" %>
              </td>
              <td><%= f.file_field :profile_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td  class="font-weight-bolder table-bg-color">
                <%= f.label :name, "名前", class: "ml-3" %>
              </td>
              <td>
                <%= f.text_field :name, size: 30 %>
                <% if @customer.errors.include?(:name) %>
                  <p style="color: red;"><%= @customer.errors.full_messages_for(:name).first %></p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td  class="font-weight-bolder table-bg-color">
                <%= f.label :gender, "性別", class: "ml-3" %>
              </td>
              <td>
                <%= f.radio_button :gender, Customer.genders.key(0) %>
                <%= f.label :gender, Customer.genders_i18n[:man], class: "mr-3" %>

                <%= f.radio_button :gender, Customer.genders.key(1) %>
                <%= f.label :gender, Customer.genders_i18n[:woman], class: "mr-3" %>

                <%= f.radio_button :gender, Customer.genders.key(2) %>
                <%= f.label :gender, Customer.genders_i18n[:another], class: "mr-3" %>

                <%= f.radio_button :gender, Customer.genders.key(3) %>
                <%= f.label :gender, Customer.genders_i18n[:no_answer] %>
                <% if @customer.errors.include?(:gender) %>
                  <p style="color: red;"><%= @customer.errors.full_messages_for(:gender).first %></p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td  class="font-weight-bolder table-bg-color">
                <%= f.label :age, "年齢", class: "ml-3" %>
              </td>
              <td>
                <%= f.text_field :age, size: 5  %>歳
                <% if @customer.errors.include?(:age) %>
                  <p style="color: red;"><%= @customer.errors.full_messages_for(:age).first %></p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td  class="font-weight-bolder table-bg-color">
                <%= f.label :biography, "自己紹介", class: "ml-3" %>
              </td>
              <td>
                <%= f.text_area :biography, size: "60x4"  %>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bolder table-bg-color">
                <%= f.label :email, "メールアドレス", class: "ml-3" %>
              </td>
              <td>
                <%= f.text_field :email, size: 30 %>
                <% if params[:email].nil?%>
                  <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %></p>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center">
          <%= f.submit "変更", class: "btn btn-success mr-3", style: "width: 150px;" %>
          <%= link_to "退会", unsubscribe_customers_path, class: "btn btn-danger", style: "width: 150px;" %>
        </div>
      <% end %>
    </div>
  </div>

</div>

