<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.search_field :title_cont %>

  <%= f.label :area_id, "エリア" %>
  <%= f.collection_select :area_id_eq, Area.all, :id, :name, include_blank: "----", class: "form-control" %>

  <%= f.label :tag, "タグ名" %>
  <%= f.search_field :post_tags_tag_name_cont %>
  <%= hidden_field_tag(:confession_ranking) %>

  <%= f.submit "検索" %>
<% end %>

ランキング検索
<%= sort_link(@q, :created_at, "新着", default_order: :desc)%>
<%= sort_link(@q, :all_rate, "総合評価", default_order: :desc) %>
<%= sort_link(@q, :atmosphere_rate, "雰囲気", default_order: :desc) %>
<%= sort_link(@q, :few_people_rate, "人の少なさ", default_order: :desc) %>
<%= sort_link(@q, :standard_rate, "定番度", default_order: :desc) %>
<% pp params %>
<a href="javascript:onSortConfessionRranking()">告白成功率<span id="confession_asc" style="display:none">▼</span><span id="confession_desc" style="display:none">▲</span></a>
<%#= link_to "告白成功率", posts_path(confession_ranking: true) %>


<table>
  <thead>
    <tr>
      <th></th>
      <th>エリア</th>
      <th>関連タグ</th>
      <th>総合評価</th>
      <th>雰囲気</th>
      <th>人の少なさ</th>
      <th>定番度</th>
      <th>告白成功率</th>
      <th>コメント数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_spot_image, size: "50x50" %></br>
          <%= post.title %>
        <% end %>
      </td>
      <td><%= post.area.name %></td>
      <td>
        <% post.tags.each do |tag| %>
          <%= tag.name %></br>
        <% end %>
      </td>
      <td>
        <%= post.all_rate.round(1).to_f %>
        <div class="star" data-score="<%= post.all_rate %>"></div>
      </td>
      <td>
        <%= post.atmosphere_rate.round(1).to_f %>
        <div class="star" data-score="<%= post.atmosphere_rate %>"></div>
      </td>
      <td>
        <%= post.few_people_rate.round(1).to_f %>
        <div class="star" data-score="<%= post.few_people_rate %>"></div>
      </td>
      <td>
        <%= post.standard_rate.round(1).to_f %>
        <div class="star" data-score="<%= post.standard_rate %>"></div>
      </td>
      <td>
        <% unless post.avg_confession_result %>
          未回答
        <% else %>
          <%= post.avg_confession_result %>％
        <% end %>
      </td>
      <td><%= post.post_comments.count %>件</td>
      <td><%= link_to "表示する", post_path(post), class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).on('turbolinks:load', function() {
    $('.star').empty();
    $('.star').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
    });

    $('#confession_desc').hide();
    $('#confession_asc').hide();

    <% if params[:confession_ranking] =='asc' %>
      $('#confession_asc').show();
    <% elsif params[:confession_ranking] == 'desc' %>
      $('#confession_desc').show();
    <% end %>
    $('.sort_link').each( function(i,elem){
      var str = $(elem).attr('href').replace('confession_ranking=','');
      $(elem).attr('href',str);
      console.log($(elem).attr('href'))
    })
  });

  function onSortConfessionRranking(){
    var form = document.getElementById('post_search');
  <% if params[:confession_ranking] == 'asc' %>
    document.getElementById('confession_ranking').value='desc';
  <% else %>
    document.getElementById('confession_ranking').value='asc';
  <% end %>
    form.submit();
  }


</script>