<a>並び替え</a>
<a href="javascript:onSortButton('new_ranking', '<%= params[:new_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  新着
  <% if params[:new_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:new_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<a href="javascript:onSortButton('all_rate_ranking', '<%= params[:all_rate_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  総合評価
  <% if params[:all_rate_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:all_rate_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<a href="javascript:onSortButton('atmosphere_rate_ranking', '<%= params[:atmosphere_rate_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  雰囲気
  <% if params[:atmosphere_rate_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:atmosphere_rate_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<a href="javascript:onSortButton('few_people_rate_ranking', '<%= params[:few_people_rate_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  人の少なさ
  <% if params[:few_people_rate_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:few_people_rate_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<a href="javascript:onSortButton('standard_rate_ranking', '<%= params[:standard_rate_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  定番度
  <% if params[:standard_rate_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:standard_rate_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<a href="javascript:onSortButton('confession_ranking', '<%= params[:confession_ranking]%>')" class="btn btn-sm rounded-pill ml-1 ranking">
  告白成功率
  <% if params[:confession_ranking] =='asc' %>
    <span>▲</span>
  <% elsif params[:confession_ranking] =='desc' %>
    <span>▼</span>
  <% end %>
</a>

<div class="mx-auto mt-5">
  <table class="table-bordered index-table">
     <thead>
      <tr style="height: 50px; background-color: #666633;" class="text-center align-middle">
        <th width="10%"></th>
        <th width="10%">エリア</th>
        <th width="10%">関連タグ</th>
        <th width="10%">総合評価</th>
        <th width="10%">雰囲気</th>
        <th width="10%">人の少なさ</th>
        <th width="10%">定番度</th>
        <th width="9%">告白<br/>成功率</th>
        <th width="8%">コメント数</th>
      </tr>
    </thead>
    <tbody style="background-color: #262626;">
      <% posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post), class: "link-white" do %>
              <%= image_tag post.get_spot_image, size: "150x100", class:"img_filter" %></br>
              <%= post.title %>
            <% end %>
          </td>
          <td>
            <%= post.area.name %>
          </td>
          <td>
            <% post.tags.each do |tag| %>
              <%= tag.name %></br>
            <% end %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <h5><%= post.avg_all_rate.round(1).to_f %></h5>
              <div class="star" data-score="<%= post.avg_all_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <h5><%= post.avg_atmosphere_rate.round(1).to_f %></h5>
              <div class="star" data-score="<%= post.avg_atmosphere_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <h5><%= post.avg_few_people_rate.round(1).to_f %></h5>
              <div class="star" data-score="<%= post.avg_few_people_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <h5><%= post.avg_standard_rate.round(1).to_f %></h5>
              <div class="star" data-score="<%= post.avg_standard_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </td>
          <td>
            <% if customer_signed_in? %>
              <% unless post.avg_confession_result %>
                <h5>未回答</h5>
              <% else %>
                <h5><%= post.avg_confession_result %>％</h5>
              <% end %>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </td>
          <td>
            <h5 class="ml-3"><%= post.post_comments.count %>件</h5>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  // 評価機能
  $('.star').empty();
  $('.star').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
  });

  //ランキング機能
  //ボタン切り替えでコントローラーにasc,descの情報を渡す
  function onSortButton(el, value){
  if(value == 'desc'){
    document.getElementById(el).value='asc';
  }else{
    document.getElementById(el).value='desc';
  }
    const form = document.getElementById('post_search');
    form.submit();
  }
</script>