並び替え
<%= sort_link(@q, :created_at, "新着", default_order: :desc, class: "btn btn-sm rounded-pill ml-1", style: "border: 1px solid #666600; color: white; width:100px;") %>
<a href="javascript:onSortAllRateRanking()" class="btn btn-sm rounded-pill ml-1" style="border: 1px solid #666600; color: white; width:100px;">総合評価<span id="all_rate_asc" style="display:none">▼</span><span id="all_rate_desc" style="display:none">▲</span></a>
<a href="javascript:onSortAtmosphereRateRanking()" class="btn btn-sm rounded-pill ml-1" style="border: 1px solid #666600; color: white; width:100px;">雰囲気<span id="atmosphere_rate_asc" style="display:none">▼</span><span id="atmosphere_rate_desc" style="display:none">▲</span></a>
<a href="javascript:onSortFewPeopleRateRanking()" class="btn btn-sm rounded-pill ml-1"  style="border: 1px solid #666600; color: white; width:100px;">人の少なさ<span id="few_people_rate_asc" style="display:none">▼</span><span id="few_people_rate_desc" style="display:none">▲</span></a>
<a href="javascript:onSortStandardRateRanking()" class="btn btn-sm rounded-pill ml-1"  style="border: 1px solid #666600; color: white; width:100px;">定番度<span id="standard_rate_asc" style="display:none">▼</span><span id="standard_rate_desc" style="display:none">▲</span></a>
<a href="javascript:onSortConfessionRranking()" class="btn btn-sm rounded-pill ml-1" style="border: 1px solid #666600; color: white; width:100px;">告白成功率<span id="confession_asc" style="display:none">▼</span><span id="confession_desc" style="display:none">▲</span></a>

<div class="mx-auto mt-5">
  <table class="table-bordered index-table">
     <thead>
      <tr style="height: 50px; background-color: #666633;" class="text-center align-middle">
        <th width="10%"></th>
        <th width="10%">エリア</th>
        <th width="10%">関連タグ</th>
        <th width="10%">総合評価</th>
        <th width="10%">雰囲気</th>
        <th width="10%">人の少なさ</th>
        <th width="10%">定番度</th>
        <th width="9%">告白<br/>成功率</th>
        <th width="8%">コメント数</th>
      </tr>
    </thead>
    <tbody style="background-color: #262626;">
      <% posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post_path(post), class: "link-white" do %>
            <%= image_tag post.get_spot_image, size: "150x100" %></br>
            <%= post.title %>
          <% end %>
        </td>
        <td>
          <%= post.area.name %>
        </td>
        <td>
          <% post.tags.each do |tag| %>
            <%= tag.name %></br>
          <% end %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <h5><%= post.avg_all_rate.round(1).to_f %></h5>
            <div class="star" data-score="<%= post.avg_all_rate %>"></div>
          <% else %>
            <i class="fa-solid fa-key"></i>会員限定
          <% end %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <h5><%= post.avg_atmosphere_rate.round(1).to_f %></h5>
            <div class="star" data-score="<%= post.avg_atmosphere_rate %>"></div>
          <% else %>
            <i class="fa-solid fa-key"></i>会員限定
          <% end %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <h5><%= post.avg_few_people_rate.round(1).to_f %></h5>
            <div class="star" data-score="<%= post.avg_few_people_rate %>"></div>
          <% else %>
            <i class="fa-solid fa-key"></i>会員限定
          <% end %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <h5><%= post.avg_standard_rate.round(1).to_f %></h5>
            <div class="star" data-score="<%= post.avg_standard_rate %>"></div>
          <% else %>
            <i class="fa-solid fa-key"></i>会員限定
          <% end %>
        </td>
        <td>
          <% if customer_signed_in? %>
            <% unless post.avg_confession_result %>
              <h5>未回答</h5>
            <% else %>
              <h5><%= post.avg_confession_result %>％</h5>
            <% end %>
          <% else %>
            <i class="fa-solid fa-key"></i>会員限定
          <% end %>
        </td>
        <td>
          <h5 class="ml-3"><%= post.post_comments.count %>件</h5>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script>
  $('.star').empty();
  $('.star').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
  });

  $('#confession_desc').hide();
  $('#confession_asc').hide();
  <% if params[:confession_ranking] =='asc' %>
    $('#confession_asc').show();
  <% elsif params[:confession_ranking] == 'desc' %>
    $('#confession_desc').show();
  <% end %>
  $('.sort_link').each( function(i,elem){
    var str = $(elem).attr('href').replace('confession_ranking=','');
    $(elem).attr('href',str);
    console.log($(elem).attr('href'))
  })

  $('#all_rate_desc').hide();
  $('#all_rate_asc').hide();
  <% if params[:all_rate_ranking] =='asc' %>
    $('#all_rate_asc').show();
  <% elsif params[:all_rate_ranking] == 'desc' %>
    $('#all_rate_desc').show();
  <% end %>
  $('.sort_link').each( function(i,elem){
    var str = $(elem).attr('href').replace('all_rate_ranking=','');
    $(elem).attr('href',str);
    console.log($(elem).attr('href'))
  })

  $('#atmosphere_rate_desc').hide();
  $('#atmosphere_rate_asc').hide();
  <% if params[:atmosphere_rate_ranking] =='asc' %>
    $('#atmosphere_rate_asc').show();
  <% elsif params[:atmosphere_rate_ranking] == 'desc' %>
    $('#atmosphere_rate_desc').show();
  <% end %>
  $('.sort_link').each( function(i,elem){
    var str = $(elem).attr('href').replace('atmosphere_rate_ranking=','');
    $(elem).attr('href',str);
    console.log($(elem).attr('href'))
  })

  $('#few_people_rate_desc').hide();
  $('#few_people_rate_asc').hide();
  <% if params[:few_people_rate_ranking] =='asc' %>
    $('#few_people_rate_asc').show();
  <% elsif params[:few_people_rate_ranking] == 'desc' %>
    $('#few_people_rate_desc').show();
  <% end %>
  $('.sort_link').each( function(i,elem){
    var str = $(elem).attr('href').replace('few_people_rate_ranking=','');
    $(elem).attr('href',str);
    console.log($(elem).attr('href'))
  })

  $('#standard_rate_desc').hide();
  $('#standard_rate_asc').hide();
  <% if params[:standard_rate_ranking] =='asc' %>
    $('#standard_rate_asc').show();
  <% elsif params[:standard_rate_ranking] == 'desc' %>
    $('#standard_rate_desc').show();
  <% end %>
  $('.sort_link').each( function(i,elem){
    var str = $(elem).attr('href').replace('standard_rate_ranking=','');
    $(elem).attr('href',str);
    console.log($(elem).attr('href'))
  })



  function onSortConfessionRranking(){
    var form = document.getElementById('post_search');
  <% if params[:confession_ranking] == 'asc' %>
    document.getElementById('confession_ranking').value='desc';
  <% else %>
    document.getElementById('confession_ranking').value='asc';
  <% end %>
    form.submit();
  }

  function onSortAllRateRanking(){
    var form = document.getElementById('post_search');
  <% if params[:all_rate_ranking] == 'asc' %>
    document.getElementById('all_rate_ranking').value='desc';
  <% else %>
    document.getElementById('all_rate_ranking').value='asc';
  <% end %>
    form.submit();
  }

  function onSortAtmosphereRateRanking(){
    var form = document.getElementById('post_search');
  <% if params[:atmosphere_rate_ranking] == 'asc' %>
    document.getElementById('atmosphere_rate_ranking').value='desc';
  <% else %>
    document.getElementById('atmosphere_rate_ranking').value='asc';
  <% end %>
    form.submit();
  }

  function onSortFewPeopleRateRanking(){
    var form = document.getElementById('post_search');
  <% if params[:few_people_rate_ranking] == 'asc' %>
    document.getElementById('few_people_rate_ranking').value='desc';
  <% else %>
    document.getElementById('few_people_rate_ranking').value='asc';
  <% end %>
    form.submit();
  }

  function onSortStandardRateRanking(){
    var form = document.getElementById('post_search');
  <% if params[:standard_rate_ranking] == 'asc' %>
    document.getElementById('standard_rate_ranking').value='desc';
  <% else %>
    document.getElementById('standard_rate_ranking').value='asc';
  <% end %>
    form.submit();
  }

</script>