<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 heading-ja">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fa-solid fa-location-dot mr-2"></i>スポット編集
        </mark>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-md-5 mt-3">
      <div class="offset-md-1">
        <input id="address" type="textbox" value="" size="50">
        <input type="button" value="地図を検索" onclick="codeAddress()" class="mt-md-0 mt-2">
        <div id='map_edit' class="mt-3"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-md-5 mt-2 text-center spot-container">
      <%= form_with model:@post, url: post_path(@post), method: :patch, local: true do |f| %>
        <div class="row text-left offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :title, "タイトル" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.text_field :title, :placeholder =>"例：東京タワー", size:50, class: "spot-form" %>
            <% if @post.errors.include?(:title) %>
              <a style="color: red;">
                <%= @post.errors.full_messages_for(:title).first %>
              </a>
            <% end %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :introduction, "説明文" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.text_area :introduction, :placeholder =>"例：夜になると外から見ても綺麗ですし、中の展望台から見渡す夜景もとても雰囲気があります！", size: "50x5", class: "spot-form" %>
            <% if @post.errors.include?(:introduction) %>
              <a style="color: red;">
                <%= @post.errors.full_messages_for(:introduction).first %>
              </a>
            <% end %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :postal_code, "郵便番号" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.text_field :postal_code, :placeholder =>"自動入力",id: "postal_code", size: 50, class: "spot-form" %>
            <% if @post.errors.include?(:postal_code) %>
              <a style="color: red;">
                <%= @post.errors.full_messages_for(:postal_code).first %>
              </a>
            <% end %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :address, "住所" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.text_field :address, :placeholder =>"自動入力", id: "input_address", size: 50, class: "spot-form" %>
            <% if @post.errors.include?(:address) %>
              <a style="color: red;">
                <%= @post.errors.full_messages_for(:address).first %>
              </a>
            <% end %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :area_id, "エリア" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.collection_select :area_id, Area.all, :id, :name, include_blank: "----", class: "form-control", size: 50 %>
            <% if @post.errors.include?(:area_id) %>
              <p style="color: red;">
                <%= @post.errors.full_messages_for(:area_id).first %>
              </p>
            <% end %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :spot_image, "スポット画像" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.file_field :spot_image, accept: "image/*" %>
          </div>
        </div>

        <div class="row text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :name,"タグ (,区切りで複数タグ登録可能)" %>
          </div>
          <div class="col-md-6 col-7 post-form">
            <%= f.text_field :name, :placeholder =>"例：夜景,イルミネーション", :value => @tag_list, size: 50, class: "spot-form" %>
          </div>
        </div>

        <div class="row d-flex text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :confession_result, "告白結果"%>
          </div>
          <div class="col-md-6 col-7 d-md-flex post-form">
            <div class="mr-4">
              <%= f.radio_button :confession_result, Post.confession_results.key(0) %>
              <%= f.label :confession_result, Post.confession_results_i18n[:yes] %>
              <i class="fa-solid fa-heart" style="color: red;"></i>
            </div>
            <div class="mr-4">
              <%= f.radio_button :confession_result, Post.confession_results.key(1) %>
              <%= f.label :confession_result, Post.confession_results_i18n[:no] %>
              <i class="fa-solid fa-heart-crack" style="color: red;"></i>
            </div>
            <div>
              <%= f.radio_button :confession_result, Post.confession_results.key(2) %>
              <%= f.label :confession_result, Post.confession_results_i18n[:no_answer] %>
              <i class="fa-solid fa-chess-knight" style="color: red;"></i>
            </div>
          <% if @post.errors.include?(:confession_result) %>
            <a style="color: red;" class="offset-4">
              <%= @post.errors.full_messages_for(:confession_result).first %>
            </a>
          <% end %>
          </div>
        </div>

        <div class="row d-flex text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :atmosphere_rate, "雰囲気"%>
          </div>
          <div class="col-md-6 col-7 star_atmosphere_rate post-form" data-score="<%= @post.atmosphere_rate %>">
           <%= f.hidden_field :atmosphere_rate %>
          </div>
        </div>

        <div class="row d-flex text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :few_people_rat, "人の少なさ" %>
          </div>
          <div class="col-md-6 col-7 star_few_people_rate post-form" data-score="<%= @post.few_people_rate %>">
            <%= f.hidden_field :few_people_rate %>
          </div>
        </div>

        <div class="row d-flex text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :standard_rate, "定番度" %>
          </div>
          <div class="col-md-6 col-7 star_standard_rate post-form" data-score="<%= @post.standard_rate %>">
            <%= f.hidden_field :standard_rate %>
          </div>
        </div>

        <div class="row d-flex text-left  offset-md-2">
          <div class="col-md-4 col-4 post-item ml-md-0 ml-3">
            <%= f.label :all_rate, "総合評価" %>
          </div>
          <div class="col-md-6 col-7 star_all_rate post-form" data-score="<%= @post.all_rate %>">
            <%= f.hidden_field :all_rate %>
          </div>
        </div>

        <div class="offset-md-3">※評価は平均値ではなく、ご自身の評価になります。</div>

        <div class="mt-3">
          <%= f.hidden_field :longitude, id: "longitude" %>
          <%= f.hidden_field :latitude, id: "latitude" %>
          <%= f.submit "変更", class: "btn btn-success mr-3", style: "width: 150px;" %>
          <%= link_to "削除", post_path(@post),  method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger", style: "width: 150px;" %>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    //地図機能
    let map_edit
    const longitude = document.getElementById('longitude')
    const latitude = document.getElementById('latitude');
    let marker;
    function formatAddress(results) {
      const formattedAddress = results[0].formatted_address;
      const postalCode = formattedAddress.match(/〒[0-9]{3}-[0-9]{4}/);
      if(!!postalCode) {
        $("#postal_code").val(postalCode[0].slice(1));
      }
      const address = formattedAddress.split('、')[1].split(' ')[1];
      $("#input_address").val(address);
    }

    // mapの表示関数
    function initMap() {
      geocoder = new google.maps.Geocoder()
      marker = new google.maps.Marker();
      // mapの初期位置, 縮尺を定義
      map_edit = new google.maps.Map(document.getElementById('map_edit'), {
        center: {lat: <%= @post.latitude %>,lng: <%= @post.longitude %>},
        zoom: 12,
      });

       // mapsテーブルにあるそれぞれのレコードをmap上に表示
      function showPins(setNull = false){
        var contentString = "住所：<%= @post.address %>";
        // マーカーを立てる
        marker = new google.maps.Marker({
          position:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
          map: map_edit,
          title: contentString
        });
      };
      showPins();

      // クリックしたときの処理
      google.maps.event.addListener(map_edit, 'click', mylistener);
      function mylistener(event){
        const currentLocation = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
        marker.setPosition(currentLocation);
        marker.setMap(null);
        marker.setMap(map_edit);
        geocoder.geocode({
          'latLng': currentLocation,
        }, (results, status) => {
          if(status === google.maps.GeocoderStatus.OK) {
            formatAddress(results);
          } else {
            alert('何かしらの障害です。')
          }
        });

        latitude.value = event.latLng.lat();
        longitude.value = event.latLng.lng();
      }
    }

     // 地図検索関数
    function codeAddress() {
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode({'address': inputAddress},function (results, status) {
        if (status == 'OK') {
          map_edit.setCenter(results[0].geometry.location);

          // 再検索で前回のピンを消す
          marker.setMap(null);
          marker = new google.maps.Marker({
            map: map_edit,
            position: results[0].geometry.location
          });
　　　　　// 検索した場所の情報をfieldフォームに渡す
          const lat = marker.getPosition().lat();
          const lng = marker.getPosition().lng();
          $("#latitude").val(lat);
          $("#longitude").val(lng);
          formatAddress(results);
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
  </script>
  <%= render 'layouts/star_save_post' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
</div>
