<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>スポット投稿フォーム</h1>
      <%= form_with model:@post, url: posts_path, method: :post, local: true do |f| %>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label :title, "タイトル" %></td>
              <td><%= f.text_field :title, :placeholder =>"東京タワー" %></td>
            </tr>
            <tr>
              <td><%= f.label :introduction, "説明文" %></td>
              <td><%= f.text_area :introduction, :placeholder =>"夜になると外から見ても綺麗ですし、中の展望台から見渡す夜景もとても雰囲気があります！" %></td>
            </tr>
            <tr>
              <td><%= f.label :postal_code, "郵便番号" %></td>
              <td><%= f.text_field :postal_code, :placeholder =>"000000" %></td>
            </tr>
            <tr>
              <td><%= f.label :address, "住所" %></td>
              <td><%= f.text_field :address, :placeholder =>"東京都港区芝公園４丁目２−８" %></td>
            </tr>
            <tr>
              <td><%= f.label :area_id, "エリア" %></td>
              <td><%= f.collection_select :area_id, Area.all, :id, :name, include_blank: "----", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :spot_image, "スポット画像" %></td>
              <td><%= f.file_field :spot_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :name,"タグ (,で区切ると複数タグ登録できます)" %></td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :confession_result, "告白結果" %></td>
              <td>
                <%= f.radio_button :confession_result, Post.confession_results.key(0) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:yes] %>

                <%= f.radio_button :confession_result, Post.confession_results.key(1) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:no] %>

                <%= f.radio_button :confession_result, Post.confession_results.key(2) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:no_answer] %>
              </td>
            </tr>
            <tr>
              <td>
                雰囲気</br>
                人の少なさ</br>
                定番度</br>
              </td>
              <td>
                <div class="star_atmosphere_rate">
                  <%= f.label :atmosphere_rate %>
                  <%= f.hidden_field :atmosphere_rate %>
                </div>
                <div class="star_few_people_rate">
                  <%= f.label :few_people_rate %>
                  <%= f.hidden_field :few_people_rate %>
                </div>
                <div class="star_standard_rate">
                  <%= f.label :standard_rate %>
                  <%= f.hidden_field :standard_rate %>
                </div>
              </td>
            </tr>
            <tr>
              <td>総合評価</td>
              <td>
                <div class="star_all_rate">
                  <%= f.label :all_rate %>
                  <%= f.hidden_field :all_rate %>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "投稿", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>

        <script>
          $(document).on('turbolinks:load', function() {
            <% ["atmosphere_rate","few_people_rate","standard_rate","all_rate"].each do |rate| %>
              $('.star_<%= rate %>').empty();
              $('.star_<%= rate %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[<%= rate %>]',
                half: true,
              })
            <% end %>
          })
        </script>


        <!--後で消す-->
        <%= f.label :longitude, "緯度" %></td>
        <%= f.text_field :longitude %>
        <%= f.label :latitude, "経度" %></td>
        <%= f.text_field :latitude %>
      <% end %>
    </div>
  </div>
</div>
