<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-5">
      <h2><mark class="bg-secondary text-light">スポット詳細</mark></h2><i class="fa-solid fa-comment-pen"></i>
      <div class="mt-5 d-flex align-items-center">
        <div><h1>【<%= @post.title %>】</h1></div>
        <div id="favorite_buttons" class="ml-5 d-flex align-items-center">
          <%= render "public/favorites/btn", post: @post %>
        </div>
       <div class="ml-3">
          ●関連タグ:
          <% @post.tags.each do |tag| %>
            <%=tag.name%>
          <% end %>
        </div>
        <div class="ml-3">
          <span>●投稿者:</span>
          <%= link_to admin_customer_path(@post.customer) do %>
            <%= @post.customer.name %>
          <% end %>
        </div>
        <div>
          <% if @post.customer == current_customer %>
            <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 ml-3">
    <div class="col-5">
      <%= image_tag @post.get_spot_image, size: "400x300" %>
    </div>

    <div class="col-5">
      <div class="d-flex flex-wrap mt-4" style="height: 30px;">
        <div style="width: 150px;"><h3>総合評価</h3></div>
        <div class="mr-3"><h3><%= @post.avg_all_rate.round(1).to_f %></h3></div>
        <div class="star  show-all-star" data-score="<%= @post.avg_all_rate %>"></div>
      </div>

      <div class="d-flex flex-wrap mt-3 ml-4" style="height: 30px;">
        <div style="width: 150px;"><p>雰囲気</p></div>
        <div class="mr-3"><%= @post.avg_atmosphere_rate.round(1).to_f %></div>
        <div class="star" data-score="<%= @post.avg_atmosphere_rate %>"></div>
      </div>

      <div class="d-flex flex-wrap ml-4" style="height: 30px;">
        <div style="width: 150px;"><p>人の少なさ</p></div>
        <div class="mr-3"><%= @post.avg_few_people_rate.round(1).to_f %></div>
        <div class="star" data-score="<%= @post.avg_few_people_rate %>"></div>
      </div>

      <div class="d-flex flex-wrap ml-4" style="height: 30px;">
        <div style="width: 150px;"><p>定番度</p></div>
        <div class="mr-3"><%= @post.avg_standard_rate.round(1).to_f %></div>
        <div class="star" data-score="<%= @post.avg_standard_rate %>"></div>
      </div>

      <div class="mt-4">
        <p>＜内容＞<br/><%= @post.introduction %></p>
      </div>
    </div>

    <div class="col-2">
      <div class="avg_confession_result">
        <div class="mt-3">
          <% unless @post.avg_confession_result %>
            <h3 class="d-flex align-items-center">未回答</h3>
          <% else %>
            <h3  class="d-flex align-items-center">
              <%= @post.avg_confession_result %>％
            </h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap">
        <div class="mt-5 ml-3"><h2>コメント一覧　<%= @post.post_comments.count %>件</h2></div>
        <%= link_to new_post_post_comment_path(@post) do %>
          <div  class="mt-5 ml-3"><i class="fa-solid fa-comment-dots fa-1x">コメントを書く</i></div>
        <% end %>
      </div>
      <div class="mt-1 ml-5">
        <div class="bg-white text-dark" style="padding:20px; border: inset 10px #999966;">
          <% if @post.post_comments.count == 0 %>
            <a>コメントなし</a>
          <% else %>
            <% @post.post_comments.each do |post_comment| %>
              <div class="d-flex flex-wrap mt-4">
                <div>
                  <%= image_tag post_comment.get_comment_image, size: "150x150" %>
                  <div class="mt-2 ml-4">
                    <% if post_comment.customer == current_customer %>
                      <%= link_to "編集する", edit_post_post_comment_path(post_comment.customer, post_comment), class: "btn btn-success" %>
                    <% end %>
                  </div>
                </div>
                <div class="ml-3">
                  <a>投稿者</a><br/>
                  名前:<%= link_to customer_path(post_comment.customer) do %>
                         <%= post_comment.customer.name %><br/>
                       <% end %>
                  性別:<%= post_comment.customer.gender_i18n %><br/>
                  年齢:<%= post_comment.customer.age %>歳
                </div>
                <div class="ml-5">
                  <div class="d-flex flex-wrap" style="height: 30px;">
                    <div style="width: 100px;"><h5>総合評価</h5></div>
                    <div><h5><%= post_comment.all_rate.round(1).to_f %><h5></div>
                    <div class="star" data-score="<%= post_comment.all_rate %>"></div>
                  </div>
                  <div class="d-flex flex-wrap" style="height: 30px;">
                    <div style="width: 100px;"><p>雰囲気</p></div>
                    <div><%= post_comment.atmosphere_rate.round(1).to_f %></div>
                    <div class="star" data-score="<%= post_comment.atmosphere_rate %>"></div>
                  </div>
                  <div class="d-flex flex-wrap" style="height: 30px;">
                    <div style="width: 100px;"><p>人の少なさ</p></div>
                    <div><%= post_comment.few_people_rate.round(1).to_f %></div>
                    <div class="star" data-score="<%= post_comment.few_people_rate %>"></div>
                  </div>
                  <div class="d-flex flex-wrap" style="height: 30px;">
                    <div style="width: 100px;"><p>定番度</p></div>
                    <div><%= post_comment.standard_rate.round(1).to_f %></div>
                    <div class="star" data-score="<%= post_comment.standard_rate %>"></div>
                  </div>
              </div>

              <div class="ml-5">
                <h5><strong><%= post_comment.title %></strong></h5>
                <%= post_comment.comment %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).on('turbolinks:load', function() {
      $('.star').empty();
      $('.star').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
      });
    });
  </script>

</div>

