<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 heading-ja">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fa-solid fa-location-dot mr-2"></i>スポット詳細
        </mark>
      </h2>
    </div>
  </div>

  <div class="row mt-md-5 mt-3">
    <div class="col-md-10 d-flex align-items-center">
      <div class="spot-title h1">【<%= @post.title %>】</div>
      <% if customer_signed_in? %>
        <div id="favorite-buttons" class="d-flex align-items-center">
          <%= render "public/favorites/btn", post: @post %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="ml-md-5">
        <% if @post.customer == current_customer %>
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ml-3 d-md-flex spot-sub-info">
      <div class="d-flex align-items-cente">
        ●関連タグ：
        <% @post.tags.each do |tag| %>
          <%=tag.name%>,
        <% end %>
      </div>
      <div class="ml-md-5 d-flex align-items-cente">
        <span>●投稿者：</span>
        <% if customer_signed_in? %>
          <%= link_to customer_path(@post.customer), class: "link-white" do %>
            <%= @post.customer.name %>
          <% end %>
        <% else %>
          <%= @post.customer.name %>
        <% end %>
      </div>
      <div class="ml-md-5 d-flex align-items-cente">
        <a>●投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></a>
      </div>
    </div>
  </div>

  <div class="row mt-md-5 mt-2 ml-3">
    <div class="col-md-5">
      <%= image_tag @post.get_spot_image, size: "400x300", class: "spot-img" %>
    </div>

    <div class="col-md-7 mt-3">
      <div class="row">
        <div class="col-md-8 col-7">
          <div class="d-flex" style="height: 30px;">
            <div class="h3 spot-review spot-review-item">総合評価</div>
            <% if customer_signed_in? %>
              <div class="mr-md-3 mr-1 h3 spot-review">
                <%= @post.avg_all_rate.round(1).to_f %>
              </div>
              <div class="star show-all-star" data-score="<%= @post.avg_all_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key ml-md-4 mt-md-2"></i>
              <div class="mt-1 seacret-font h5">会員限定</div>
            <% end %>
          </div>

          <div class="d-flex mt-md-3 ml-md-4" style="height: 30px;">
            <div class="spot-review spot-review-item">雰囲気</div>
            <% if customer_signed_in? %>
              <div class="mr-md-3 mr-1">
                <%= @post.avg_atmosphere_rate.round(1).to_f %>
              </div>
              <div class="star show-star" data-score="<%= @post.avg_atmosphere_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </div>

          <div class="d-flex ml-md-4" style="height: 30px;">
            <div class="spot-review spot-review-item">人の少なさ</div>
            <% if customer_signed_in? %>
              <div class="mr-md-3 mr-1">
                <%= @post.avg_few_people_rate.round(1).to_f %>
              </div>
              <div class="star show-star" data-score="<%= @post.avg_few_people_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </div>

          <div class="d-flex ml-md-4" style="height: 30px;">
            <div class="spot-review spot-review-item">定番度</div>
            <% if customer_signed_in? %>
              <div class="mr-md-3 mr-1">
                <%= @post.avg_standard_rate.round(1).to_f %>
              </div>
              <div class="star show-star" data-score="<%= @post.avg_standard_rate %>"></div>
            <% else %>
              <i class="fa-solid fa-key"></i>会員限定
            <% end %>
          </div>
        </div>

        <div class="col-4  p-0">
          <div class="avg-confession-result ml-md-5">
            <% if customer_signed_in? %>
              <% unless @post.avg_confession_result %>
                <div class="align-items-center avg-confession-result-position h3">未回答</div>
              <% else %>
                <div class="align-items-center avg-confession-result-position h3">
                  <%= @post.avg_confession_result %>％
                </div>
              <% end %>
            <% else %>
              <div class="align-items-center avg-confession-result-seacret h5">
                <i class="fa-solid fa-key"></i>会員限定
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row mt-4 p-2 post-info">
            <div class="col-2 px-md-2 p-0">
              <div class="mr-md-2">＜住所＞</div>
              <div class="mr-md-2">＜内容＞</div>
            </div>
            <div class="col-10 px-md-2 p-0">
              <span class="mr-3">〒<%= @post.postal_code %></span><%= @post.address %><br/>
              <div class="content-body">
                <%if @post.introduction.length > 95 %>
                  <div class="truncated">
                    <a><%= @post.introduction.truncate(95)%></a>
                    <p class="see-more link-gold">&lt;more&gt;</p>
                  </div>
                  <div class="untruncated" style="display: none">
                    <a><%= @post.introduction %></a>
                  </div>
                <% else %>
                  <a><%= @post.introduction %></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-8">
      <div class="mt-5 ml-md-3 h2 comment-title">
        <span class="mr-3">コメント一覧</span>
        <%= @post.post_comments.count %>件
      </div>
    </div>
    <div class="col-md-2 col-4 mt-md-5 mt-5 px-md-2 p-0">
      <% if customer_signed_in? && @post.customer != current_customer %>
        <%= link_to new_post_post_comment_path(@post), class: "link-gold" do %>
          <div class="h5 comment-input">
            <i class="fa-solid fa-comment-dots fa-1x"></i>コメントを書く
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 bg-white text-dark" style="padding:20px; border: inset 10px #999966;">
      <% if customer_signed_in? %>
        <% if @post.post_comments.count == 0 %>
          <a>コメントなし</a>
        <% else %>
          <% @post.post_comments.each do |post_comment| %>
            <div class="row p-2" style="border-bottom: 1px solid #808000;">
              <div class="col-md-4 col-5 d-flex flex-wrap">
                <div>
                  <%= image_tag post_comment.get_comment_image, size: "200x150", class: "comment-img" %>
                  <div class="ml-md-5 mt-1 mb-1">
                    <% if post_comment.customer == current_customer %>
                      <%= link_to "編集する", edit_post_post_comment_path(post_comment.customer, post_comment), class: "btn btn-success" %>
                    <% end %>
                  </div>
                </div>
                <div class="mt-md-5 comment-sub-info">
                  <a>●投稿者</a><br/>
                  【名前】<%= link_to customer_path(post_comment.customer), class: "link-black" do %>
                         <%= post_comment.customer.name %><br/>
                       <% end %>
                  【性別】<%= post_comment.customer.gender_i18n %><br/>
                  【年齢】<%= post_comment.customer.age %>歳
                </div>
              </div>

              <div class="col-md-3 col-7" style="border-left: 1px dotted #808000;">
                <div class="row mt-3">
                  <div class="col-5 px-md-2 p-0">
                    <div class="h5 comment-review-item">総合評価</div>
                    <div class="comment-review-item">雰囲気</div>
                    <div class="comment-review-item">人の少なさ</div>
                    <div class="comment-review-item">定番度</div>
                  </div>
                  <div class="col-7 p-0">
                    <div class="d-flex">
                      <div class="h5 comment-review-integer">
                        <%= post_comment.all_rate.round(1).to_f %>
                      </div>
                      <div class="star ml-md-2 ml-2 comment-all-star" data-score="<%= post_comment.all_rate %>"></div>
                    </div>
                    <div class="d-flex">
                      <div class="ml-md-2">
                        <%= post_comment.atmosphere_rate.round(1).to_f %>
                      </div>
                      <div class="star ml-md-2 ml-2" data-score="<%= post_comment.atmosphere_rate %>"></div>
                    </div>
                    <div class="d-flex">
                      <div class="ml-md-2">
                        <%= post_comment.few_people_rate.round(1).to_f %>
                      </div>
                      <div class="star ml-md-2 ml-2" data-score="<%= post_comment.few_people_rate %>"></div>
                    </div>
                    <div class="d-flex">
                      <div class="ml-md-2">
                        <%= post_comment.standard_rate.round(1).to_f %>
                      </div>
                      <div class="star ml-md-2 ml-2" data-score="<%= post_comment.standard_rate %>"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-5 mt-3">
                <div class="row">
                  <div class="col-9">
                    <h5>
                      <strong>
                        <%= post_comment.title %>
                      </strong>
                    </h5>
                  </div>
                  <div class="col-3 p-0">
                    <a>
                      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <%= post_comment.comment %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <i class="fa-solid fa-key"></i>会員限定
      <% end %>
    </div>
  </div>

  <script>
    // スポット内容をもっと見る機能
    $('.see-more').click(function(){
      $(this).closest(".content-body").find(".truncated").hide();
      $(this).closest(".content-body").find(".untruncated").show();
    })
  </script>
  <%= render 'layouts/star_import' %>
</div>

