<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-5">
      <h2><mark class="bg-secondary text-light">管理者ログイン</mark></h2>

      <div class="ml-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-2 mt-5">
            <%= f.label :email, "メールアドレス", class: "col-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"sample@example.com", class: "col-5"%>
          </div>
          <div class="mb-2">
            <%= f.label :password, "パスワード", class: "col-2"%>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-5"%>
          </div>

          <%= f.submit "ログイン", class: "btn btn-primary offset-2"%>
        <% end %>
      </div>

    </div>
  </div>
</div>
