<div class="container">
  
  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2><mark class="bg-secondary text-light"><i class="fa-solid fa-user mr-2"></i>フォロー 一覧</mark></mark></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 ml-5">
      <div class="d-flex">
        <div>
          <%= image_tag @customer.get_profile_image, size: "100x100" %>
        </div>
        <div class="d-flex align-items-end ml-3">
          【名前】<%= @customer.name %><br/>
          【性別】<%= @customer.gender_i18n %><br/>
          【年齢】<%= @customer.age %>歳
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5">
      <div class="offset-1">
        <% if @customers.exists? %>
          <table class="table text-light ">
            <tbody>
              <% @customers.each do |customer| %>
              <tr>
                <th class="text-center">
                  <%= link_to customer_path(customer), class: "link-white" do %>
                    <%= image_tag customer.get_profile_image, size: "80x80", class:"img_filter" %>
                  <% end %>
                </th>
                <th class="align-middle">
                  <%= link_to customer_path(customer), class: "link-white" do %>
                    <%= customer.name %>
                  <% end %>
                </th>
                <th class="align-middle"><%= customer.followings.count %> フォロー</th>
                <th class="align-middle"><%= customer.followers.count %> フォロワー</th>
              </tr>
              <% end %>
            </tbody>
          <% else %>
            <p>ユーザーはいません</p>
          <% end %>
        </table>
      </div>
    </div>
  </div>

</div>

