<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-5">
      <h2><mark class="bg-secondary text-light">会員編集</mark></h2>

　　　<div class="mt-1">
        <%= form_with model:@customer, url:admin_customer_path(@customer), method: :patch, local: true do |f| %>
          <table class="table table-light text-body align-middle table-bordered ml-5">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-weight-bolder"><%= f.label :profile_image, "プロフィール写真" %></td>
                <td><%= f.file_field :profile_image, accept: "image/*" %></td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :name, "名前" %></td>
                <td><%= f.text_field :name, size: 30 %></td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :gender, "性別" %></td>
                <td>
                  <%= f.radio_button :gender, Customer.genders.key(0) %>
                  <%= f.label :gender, Customer.genders_i18n[:man] %>

                  <%= f.radio_button :gender, Customer.genders.key(1) %>
                  <%= f.label :gender, Customer.genders_i18n[:woman] %>

                  <%= f.radio_button :gender, Customer.genders.key(2) %>
                  <%= f.label :gender, Customer.genders_i18n[:another] %>

                  <%= f.radio_button :gender, Customer.genders.key(3) %>
                  <%= f.label :gender, Customer.genders_i18n[:no_answer] %>
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :age, "年齢" %></td>
                <td><%= f.text_field :age, size: 5 %>歳</td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :biography, "自己紹介" %></td>
                <td><%= f.text_area :biography, size: "60x4" %></td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.text_field :email, size: 30 %></td>
              </tr>
              <tr>
                <td class="font-weight-bolder"><%= f.label :is_deleted, "会員ステータス" %></td>
                <td>
                  <%= f.radio_button :is_deleted, 'false' %>
                  <%= f.label :is_deleted, '有効', value: false %>
                  <%= f.radio_button :is_deleted, 'true' %>
                  <%= f.label :is_deleted, '退会', value: true %>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <%= f.submit "変更", class: "btn btn-success", style: "width: 150px;" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>