<div class="container">
  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fa-solid fa-user mr-2"></i>スポット/コメント投稿一覧
        </mark>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 ml-5 d-flex flex-wrap">
      <div>
        <%= image_tag @customer.get_profile_image, size: "150x150" %>
      </div>
      <div class="ml-5 d-flex align-items-end">
        【名前】<%= @customer.name %><br/>
        【性別】<%= @customer.gender_i18n %><br/>
        【年齢】<%= @customer.age %>歳<br/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mt-5 ml-4 customer-list">
        <ul class="tab-list">
          <li class="tab tab-active">
            <span class="mr-3">スポット一覧</span>
            <%= @customer.posts.count %>件
          </li>
          <li class="tab">
            <span class="mr-3">コメント一覧</span>
            <%= @customer.post_comments.count %>件
          </li>
        </ul>
        <div class="tabbox-contents">
          <div class="tabbox box-show">
            <table class="table table-bordered-show">
              <thead>
                <tr style="background-color: #A9A9A9;">
                  <th width="20%" class="align-middle"></th>
                  <th width="15%" class="align-middle">スポット名</th>
                  <th width="15%" class="align-middle">エリア</th>
                  <th width="15%" class="align-middle">関連タグ</th>
                  <th width="20%" class="align-middle">総合評価</th>
                  <th width="15%" class="align-middle">告白成功率</th>
                </tr>
              </thead>
              <tbody>
                <% @customer.posts.each do |post| %>
                  <tr>
                    <td class="align-middle">
                      <%= link_to admin_post_path(post) do %>
                        <%= image_tag post.get_spot_image, size: "150x100", class:"img-filter" %>
                      <% end %>
                    </td >
                    <td class="align-middle">
                      <%= link_to admin_post_path(post), class: "link-black" do %>
                        <%= post.title %>
                      <% end %>
                    </td>
                    <td class="align-middle">
                      <%= post.area.name %>
                    </td>
                    <td class="align-middle">
                      <% post.tags.each do |tag| %>
                        <%= tag.name %><br/>
                      <% end %>
                    </td>
                    <td class="align-middle">
                      <h3>
                        <%= post.avg_all_rate.round(1).to_f %>
                      </h3>
                      <div class="d-flex">
                        <div class="star mr-2" data-score="<%= post.avg_all_rate %>"></div>
                        <div>(<i class="fa-solid fa-comment-dots"></i><%= post.post_comments.count%>件)</div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <% unless post.avg_confession_result %>
                        <h5 class="ml-2">未回答</h5>
                      <% else %>
                        <h5 class="ml-2"><%= post.avg_confession_result %>％</h5>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="tabbox">
            <% @post_comments.each do |post_comment| %>
              <div class="row list-row">
                <div style="col-3">
                  <%= image_tag post_comment.get_comment_image, size: "150x100" %><br/>
                  <%= post_comment.post.area.name %><br/>
                  <%= link_to admin_post_path(post_comment.post) do %>
                    投稿元スポットへ<i class="fa-solid fa-right-to-bracket"></i>
                  <% end %>
                </div>

                <div class="col-3" style="border-left: 1px dotted #808000;">
                  <div class="d-flex" style="height: 30px;">
                    <div style="width: 100px;">
                      <p>総合評価</p>
                    </div>
                    <div>
                      <%= post_comment.all_rate.round(1).to_f %>
                    </div>
                    <div class="star ml-1" data-score="<%= post_comment.all_rate %>"></div>
                  </div>

                  <div class="d-flex" style="height: 30px;">
                    <div style="width: 100px;">
                      <p>雰囲気</p>
                    </div>
                    <div>
                      <%= post_comment.atmosphere_rate.round(1).to_f %>
                    </div>
                    <div class="star ml-1" data-score="<%= post_comment.atmosphere_rate %>"></div>
                  </div>

                  <div class="d-flex" style="height: 30px;">
                    <div style="width: 100px;">
                      <p>人の少なさ</p>
                    </div>
                    <div>
                      <%= post_comment.few_people_rate.round(1).to_f %>
                    </div>
                    <div class="star ml-1" data-score="<%= post_comment.few_people_rate %>"></div>
                  </div>

                  <div class="d-flex" style="height: 30px;">
                    <div style="width: 100px;">
                      <p>定番度</p>
                    </div>
                    <div>
                      <%= post_comment.standard_rate.round(1).to_f %>
                    </div>
                    <div class="star ml-1" data-score="<%= post_comment.standard_rate %>"></div>
                  </div>
                </div>

                <div class="col-5">
                  <div class="row">
                    <div class="col-9">
                      <h5>
                        <strong><%= post_comment.title %></strong>
                      </h5>
                    </div>
                    <div class="col-3">
                      <a>
                        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                      </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <%= post_comment.comment %>
                    </div>
                  </div>
                </div>
                <div class="floot-right">
                  <%= link_to "編集", edit_admin_post_post_comment_path(post_comment.customer, post_comment), class: "btn btn-success", style: "height: 40px; margin-left: 5px;" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // タブメニュー機能
    $(function() {
      $('.tab').click(function(){
        $('.tab-active').removeClass('tab-active');
        $(this).addClass('tab-active');
        $('.box-show').removeClass('box-show');
        const index = $(this).index();
        $('.tabbox').eq(index).addClass('box-show');
      });

      $('.tab').mouseover(function() {
        var classes = $(this).attr('class').split(" ");
        if (classes.includes("tab-active") == true) { return; }
        $(this).addClass('tab-mouseover');
      });

      $('.tab').mouseout(function() {
        $(this).removeClass('tab-mouseover');
      });
    });
  </script>
  <%= render 'layouts/star_import' %>
</div>