<div class="container">
  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2><mark class="bg-secondary text-light"><i class="fa-solid fa-user mr-2"></i>会員詳細</mark></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4">
      <table class="table table-light text-body align-middle table-bordered ml-5">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">プロフィール写真</td>
            <td><%= image_tag @customer.get_profile_image, size: "100x100" %></td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              名前
            </td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              性別
            </td>
            <td><%= @customer.gender_i18n %></td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              年齢
            </td>
            <td><%= @customer.age %>歳</td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              自己紹介
            </td>
            <td><%= @customer.biography %></td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              メールアドレス
            </td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="font-weight-bolder table-bg-color col-3">
              会員ステータス
            </td>
            <td>
              <% if @customer.is_deleted == false %>
                <p class="text-success">有効</p>
              <% else %>
                <p class="text-danger">退会</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <div class="mr-3">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        </div>
        <%= link_to "スポット/コメント投稿一覧", admin_customer_list_path(@customer), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
