<% if tag.name == nil %>
  <%= form_with model:@tag, url: admin_tags_path, method: :post, local: true do |f|  %>
    <div class="form-group row ml-3">
      <div class="col-2 ml-5 font-weight-bold">
        <%= f.label :name, "タグ名" %>
      </div>
      <div class="col-2 mr-3">
        <%= f.text_field :name, placeholder: "タグ名" %>
        <% if @tag.errors.include?(:name) %>
          <p style="color: red;"><%= @tag.errors.full_messages_for(:name).first %>
        <% end %>
      </div>
      <div class="col-2 ml-5">
        <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with model:@tag, url: admin_tag_path(tag), method: :patch, local: true do |f|  %>
    <div class="form-group row font-weight-bold">
      <%= f.label :name, "タグ名" %>
      <div class="ml-3">
        <%= f.text_field :name, size: 30 %>
        <% if @tag.errors.include?(:name) %>
          <p style="color: red;"><%= @tag.errors.full_messages_for(:name).first %>
        <% end %>
      </div>
      <div class="ml-5">
        <%= f.submit "変更", class: "btn btn-success", style: "width: 100px;" %>
      </div>
      <div class="ml-3">
        <%= link_to "削除", admin_tag_path(tag), method: :delete, date: { confirm: '本当に消しますか？'}, class: "btn btn-danger", style: "width: 100px;" %>
      </div>
    </div>
  <% end %>
<% end %>