<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>スポット編集フォーム</h1>

      <p>投稿者情報</p>
      <%= image_tag @post.customer.get_profile_image, size: "50x50" %>
      <%= @post.customer.name %>
      <%= @post.customer.gender_i18n %>
      <%= @post.customer.age %>

      <%= form_with model:@post, url: admin_post_path(@post), method: :patch, local: true do |f| %>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label :title, "タイトル" %></td>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <td><%= f.label :introduction, "説明文" %></td>
              <td><%= f.text_area :introduction %></td>
            </tr>
            <tr>
              <td><%= f.label :postal_code, "郵便番号" %></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td><%= f.label :address, "住所" %></td>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <td><%= f.label :area_id, "エリア" %></td>
              <td><%= f.collection_select :area_id, Area.all, :id, :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :spot_image, "スポット画像" %></td>
              <td><%= f.file_field :spot_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td><%= f.label :name, "タグ (,で区切ると複数タグ登録できます)" %></td>
              <td><%= f.text_field :name, value: @tag_list, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :confession_result, "告白結果" %></td>
              <td>
                <%= f.radio_button :confession_result, Post.confession_results.key(0) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:yes] %>

                <%= f.radio_button :confession_result, Post.confession_results.key(1) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:no] %>

                <%= f.radio_button :confession_result, Post.confession_results.key(2) %>
                <%= f.label :confession_result, Post.confession_results_i18n[:no_answer] %>
              </td>
            </tr>
            <tr>
              <td>
                ※平均値ではなく<%= @post.customer.name %>さんの評価になります。</br>
                雰囲気</br>
                人の少なさ</br>
                定番度</br>
              </td>
              <td>
                <div class="star_atmosphere_rate" data-score="<%= @post.atmosphere_rate %>">
                  <%= f.label :atmosphere_rate %>
                  <%= f.hidden_field :atmosphere_rate %>
                </div>
                <div class="star_few_people_rate" data-score="<%= @post.few_people_rate %>">
                  <%= f.label :few_people_rate %>
                  <%= f.hidden_field :few_people_rate %>
                </div>
                <div class="star_standard_rate" data-score="<%= @post.standard_rate %>">
                  <%= f.label :standard_rate %>
                  <%= f.hidden_field :standard_rate %>
                </div>
              </td>
            </tr>
            <tr>
              <td>総合評価</td>
              <td>
                <div class="star_all_rate" data-score="<%= @post.all_rate %>">
                  <%= f.label :all_rate %>
                  <%= f.hidden_field :all_rate %>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit "変更", class: "btn btn-success" %>
                <%= link_to "削除",admin_post_path(@post),  method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        </table>

        <script>
          $(document).on('turbolinks:load', function() {
            <% ["atmosphere_rate","few_people_rate","standard_rate","all_rate"].each do |rate| %>
              $('.star_<%= rate %>').empty();
              $('.star_<%= rate %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[<%= rate %>]',
                half: true,
              })
            <% end %>
          })
        </script>


      <% end %>
    </div>
  </div>
</div>
