<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1>スポット一覧</h1>

      <%= search_form_for @q do |f| %>
        <%= f.label :title, "タイトル" %>
        <%= f.search_field :title_cont %>

        <%= f.label :area_id, "エリア" %>
        <%= f.collection_select :area_id_eq, Area.all, :id, :name, include_blank: "----", class: "form-control" %>

        <%= f.label :tag, "タグ名" %>
        <%= f.search_field :post_tags_tag_name_cont %>

        <%= hidden_field_tag(:confession_ranking) %>
        <%= hidden_field_tag(:all_rate_ranking) %>
        <%= hidden_field_tag(:atmosphere_rate_ranking) %>
        <%= hidden_field_tag(:few_people_rate_ranking) %>
        <%= hidden_field_tag(:standard_rate_ranking) %>

        <%= f.submit "検索" %>
      <% end %>

      ランキング検索
      <%= sort_link(@q, :created_at, "新着", default_order: :desc)%>
      <a href="javascript:onSortAllRateRanking()">総合評価<span id="all_rate_asc" style="display:none">▼</span><span id="all_rate_desc" style="display:none">▲</span></a>
      <a href="javascript:onSortAtmosphereRateRanking()">雰囲気<span id="atmosphere_rate_asc" style="display:none">▼</span><span id="atmosphere_rate_desc" style="display:none">▲</span></a>
      <a href="javascript:onSortFewPeopleRateRanking()">人の少なさ<span id="few_people_rate_asc" style="display:none">▼</span><span id="few_people_rate_desc" style="display:none">▲</span></a>
      <a href="javascript:onSortStandardRateRanking()">定番度<span id="standard_rate_asc" style="display:none">▼</span><span id="standard_rate_desc" style="display:none">▲</span></a>
      <a href="javascript:onSortConfessionRranking()">告白成功率<span id="confession_asc" style="display:none">▼</span><span id="confession_desc" style="display:none">▲</span></a>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>エリア</th>
            <th>関連タグ</th>
            <th>総合評価</th>
            <th>雰囲気</th>
            <th>人の少なさ</th>
            <th>定番度</th>
            <th>告白成功率</th>
            <th>コメント数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to admin_post_path(post) do %>
                <%= image_tag post.get_spot_image, size: "50x50" %></br>
                <%= post.title %>
              <% end %>
            </td>
            <td><%= post.area.name %></td>
            <td>
              <% post.tags.each do |tag| %>
                <%= tag.name %></br>
              <% end %>
            </td>
            <td>
              <%= post.avg_all_rate.round(1).to_f %>
              <div class="star" data-score="<%= post.avg_all_rate %>"></div>
            </td>
            <td>
              <%= post.avg_atmosphere_rate.round(1).to_f %>
              <div class="star" data-score="<%= post.avg_atmosphere_rate %>"></div>
            </td>
            <td>
              <%= post.avg_few_people_rate.round(1).to_f %>
              <div class="star" data-score="<%= post.avg_few_people_rate %>"></div>
            </td>
            <td>
              <%= post.avg_standard_rate.round(1).to_f %>
              <div class="star" data-score="<%= post.avg_standard_rate %>"></div>
            </td>
            <td>
              <% unless post.avg_confession_result %>
                未回答
              <% else %>
                <%= post.avg_confession_result %>％
              <% end %>
            </td>
            <td><%= post.post_comments.count %>件</td>
            <td><%= link_to "表示する", admin_post_path(post), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <script>
        $(document).on('turbolinks:load', function() {
          $('.star').empty();
          $('.star').raty({
            size: 20,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
          });

          $('#confession_desc').hide();
          $('#confession_asc').hide();
          <% if params[:confession_ranking] =='asc' %>
            $('#confession_asc').show();
          <% elsif params[:confession_ranking] == 'desc' %>
            $('#confession_desc').show();
          <% end %>
          $('.sort_link').each( function(i,elem){
            var str = $(elem).attr('href').replace('confession_ranking=','');
            $(elem).attr('href',str);
            console.log($(elem).attr('href'))
          })

          $('#all_rate_desc').hide();
          $('#all_rate_asc').hide();
          <% if params[:all_rate_ranking] =='asc' %>
            $('#all_rate_asc').show();
          <% elsif params[:all_rate_ranking] == 'desc' %>
            $('#all_rate_desc').show();
          <% end %>
          $('.sort_link').each( function(i,elem){
            var str = $(elem).attr('href').replace('all_rate_ranking=','');
            $(elem).attr('href',str);
            console.log($(elem).attr('href'))
          })

          $('#atmosphere_rate_desc').hide();
          $('#atmosphere_rate_asc').hide();
          <% if params[:atmosphere_rate_ranking] =='asc' %>
            $('#atmosphere_rate_asc').show();
          <% elsif params[:atmosphere_rate_ranking] == 'desc' %>
            $('#atmosphere_rate_desc').show();
          <% end %>
          $('.sort_link').each( function(i,elem){
            var str = $(elem).attr('href').replace('atmosphere_rate_ranking=','');
            $(elem).attr('href',str);
            console.log($(elem).attr('href'))
          })

          $('#few_people_rate_desc').hide();
          $('#few_people_rate_asc').hide();
          <% if params[:few_people_rate_ranking] =='asc' %>
            $('#few_people_rate_asc').show();
          <% elsif params[:few_people_rate_ranking] == 'desc' %>
            $('#few_people_rate_desc').show();
          <% end %>
          $('.sort_link').each( function(i,elem){
            var str = $(elem).attr('href').replace('few_people_rate_ranking=','');
            $(elem).attr('href',str);
            console.log($(elem).attr('href'))
          })

          $('#standard_rate_desc').hide();
          $('#standard_rate_asc').hide();
          <% if params[:standard_rate_ranking] =='asc' %>
            $('#standard_rate_asc').show();
          <% elsif params[:standard_rate_ranking] == 'desc' %>
            $('#standard_rate_desc').show();
          <% end %>
          $('.sort_link').each( function(i,elem){
            var str = $(elem).attr('href').replace('standard_rate_ranking=','');
            $(elem).attr('href',str);
            console.log($(elem).attr('href'))
          })
        });

        function onSortConfessionRranking(){
          var form = document.getElementById('post_search');
          <% if params[:confession_ranking] == 'asc' %>
            document.getElementById('confession_ranking').value='desc';
          <% else %>
            document.getElementById('confession_ranking').value='asc';
          <% end %>
          form.submit();
        }

        function onSortAllRateRanking(){
          var form = document.getElementById('post_search');
          <% if params[:all_rate_ranking] == 'asc' %>
            document.getElementById('all_rate_ranking').value='desc';
          <% else %>
            document.getElementById('all_rate_ranking').value='asc';
          <% end %>
          form.submit();
        }

        function onSortAtmosphereRateRanking(){
          var form = document.getElementById('post_search');
          <% if params[:atmosphere_rate_ranking] == 'asc' %>
            document.getElementById('atmosphere_rate_ranking').value='desc';
          <% else %>
            document.getElementById('atmosphere_rate_ranking').value='asc';
          <% end %>
          form.submit();
        }

        function onSortFewPeopleRateRanking(){
          var form = document.getElementById('post_search');
          <% if params[:few_people_rate_ranking] == 'asc' %>
            document.getElementById('few_people_rate_ranking').value='desc';
          <% else %>
            document.getElementById('few_people_rate_ranking').value='asc';
          <% end %>
          form.submit();
        }

        function onSortStandardRateRanking(){
          var form = document.getElementById('post_search');
          <% if params[:standard_rate_ranking] == 'asc' %>
            document.getElementById('standard_rate_ranking').value='desc';
          <% else %>
            document.getElementById('standard_rate_ranking').value='asc';
          <% end %>
          form.submit();
        }
      </script>

    </div>
  </div>
</div>
