<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>スポット投稿詳細</h1>


      <h2><%= @post.title %></h2>
      <% @post.tags.each do |tag| %>
        <%=tag.name%>
      <% end %>

      <p>投稿者</p>
      <%= link_to admin_customer_path(@post.customer) do %>
        <%= @post.customer.name %>
      <% end %>

      <%= link_to "編集する", edit_admin_post_path(@post), class: "btn btn-success" %>

      <%= image_tag @post.get_spot_image, size: "200x200" %>

      <%= @post.introduction %>

      <p>総合評価</p>
      <%= @post.avg_all_rate.round(1).to_f %>
      <div class="star" data-score="<%= @post.avg_all_rate %>"></div>
      <p>雰囲気</p>
      <%= @post.avg_atmosphere_rate.round(1).to_f %>
      <div class="star" data-score="<%= @post.avg_atmosphere_rate %>"></div>
      <p>人の少なさ</p>
      <%= @post.avg_few_people_rate.round(1).to_f %>
      <div class="star" data-score="<%= @post.avg_few_people_rate %>"></div>
      <p>定番度</p>
      <%= @post.avg_standard_rate.round(1).to_f %>
      <div class="star" data-score="<%= @post.avg_standard_rate %>"></div>

      <td>
        <% unless @post.avg_confession_result %>
          未回答
        <% else %>
          <%= @post.avg_confession_result %>％
        <% end %>
      </td>

      <h2>コメント一覧<%= @post.post_comments.count %>件</h2>
      <% @post.post_comments.each do |post_comment| %>
        <%= image_tag post_comment.get_comment_image, size: "50x50" %>
        <p>投稿者</p>
        <%= link_to customer_path(post_comment.customer) do %>
          <%= post_comment.customer.name %>
          <%= post_comment.customer.gender_i18n %>
          <%= post_comment.customer.age %>歳
        <% end %>

        <p>総合評価</p>
        <%= post_comment.all_rate.round(1).to_f %>
        <div class="star" data-score="<%= post_comment.all_rate %>"></div>
        <p>雰囲気</p>
        <%= post_comment.atmosphere_rate.round(1).to_f %>
        <div class="star" data-score="<%= post_comment.atmosphere_rate %>"></div>
        <p>人の少なさ</p>
        <%= post_comment.few_people_rate.round(1).to_f %>
        <div class="star" data-score="<%= post_comment.few_people_rate %>"></div>
        <p>定番度</p>
        <%= post_comment.standard_rate.round(1).to_f %>
        <div class="star" data-score="<%= post_comment.standard_rate %>"></div>

        <%= post_comment.title %>
        <%= post_comment.comment %>
        <%= link_to "編集する", edit_admin_post_post_comment_path(post_comment.customer, post_comment), class: "btn btn-success" %>
      <% end %>

      <script>
        $(document).on('turbolinks:load', function() {
          $('.star').empty();
          $('.star').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
          });
        });
      </script>

    </div>
  </div>
</div>