<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-5">
      <h2><mark class="bg-secondary text-light">コメント編集</mark></h2>

　　　<div class="mt-3 offset-1">
        <%= form_with model:@post_comment, url: post_post_comment_path(@post_comment.post, @post_comment), method: :patch, local: true do |f| %>
          <table>
            <thead>
              <tr>
                <th style="width: 25%"></th>
                <th style="width: 50%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.label :title, "タイトル" %></td>
                <td><%= f.text_field :title, size: 50 %></td>
              </tr>
              <tr>
                <td><%= f.label :comment, "コメント" %></td>
                <td><%= f.text_area :comment, size: "50x3" %></td>
              </tr>
              <tr>
                <td><%= f.label :comment_image, "コメント画像" %></td>
                <td><%= f.file_field :comment_image, accept: "image/*" %></td>
              </tr>
              <tr>
                <td>
                  <div class="mt-4">
                    <%= f.label :confession_result, "告白結果" %>
                  </div>
                </td>
                <td>
                  <div class="mt-4">
                    <div class="d-flex flex-wrap">
                      <div class="mr-4">
                        <%= f.radio_button :confession_result, PostComment.confession_results.key(0) %>
                        <%= f.label :confession_result, PostComment.confession_results_i18n[:yes] %>
                      </div>
                      <div class="mr-4">
                        <%= f.radio_button :confession_result, PostComment.confession_results.key(1) %>
                        <%= f.label :confession_result, PostComment.confession_results_i18n[:no] %>
                      </div>
                      <div>
                        <%= f.radio_button :confession_result, PostComment.confession_results.key(2) %>
                        <%= f.label :confession_result, PostComment.confession_results_i18n[:no_answer] %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                    <div class="mt-2">
                  　<div class="mb-2">雰囲気</div>
                    <div class="mb-2">人の少なさ</div>
                    <div class="mb-2">定番度</div>
                    <div class="mb-4">総合評価</div>
                  </div>
                </td>
                <td>
                  <div class="mt-2">
                    <div class="star_atmosphere_rate" data-score="<%= @post_comment.atmosphere_rate %>">
                      <%= f.label :atmosphere_rate %>
                      <%= f.hidden_field :atmosphere_rate %>
                    </div>
                    <div class="star_few_people_rate" data-score="<%= @post_comment.few_people_rate %>">
                      <%= f.label :few_people_rate %>
                      <%= f.hidden_field :few_people_rate %>
                    </div>
                    <div class="star_standard_rate" data-score="<%= @post_comment.standard_rate %>">
                      <%= f.label :standard_rate %>
                      <%= f.hidden_field :standard_rate %>
                    </div>
                    <div class="star_all_rate" data-score="<%= @post_comment.all_rate %>">
                      <%= f.label :all_rate %>
                      <%= f.hidden_field :all_rate %>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <%= f.submit "変更", class: "btn btn-success", style: "width: 150px;" %>
                  <%= link_to "削除", post_post_comment_path(@post_comment.post, @post_comment),  method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger ml-3", style: "width: 150px;"  %>
                </td>
              </tr>
            </tbody>
          </table>

          <script>
            <% ["atmosphere_rate","few_people_rate","standard_rate","all_rate"].each do |rate| %>
              $('.star_<%= rate %>').empty();
              $('.star_<%= rate %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post_comment[<%= rate %>]',
                half: true,
              })
            <% end %>
          </script>

        <% end %>
      </div>
    </div>
  </div>
</div>


