<div class="container">

  <div class="row  mt-5">
    <div class="col-12 mx-auto">
      <h2><mark class="bg-secondary text-light">コメント投稿</mark></h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <%= form_with model:@post_comment, url: post_post_comments_path(@post), method: :post, local: true do |f| %>

        <div>
          <%= f.label :title, "タイトル", class: "col-4" %>
          <%= f.text_field :title, :placeholder =>"例)クリスマスシーズンの東京タワー", size: 50 %>
          <% if @post_comment.errors.include?(:title) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:tilte).first %>
          <% end %>
        </div>
        <div>
          <%= f.label :comment, "コメント", class: "col-4" %>
          <%= f.text_area :comment, :placeholder =>"例)クリスマスシーズンの東京タワーは色がクリスマスカラーに変わります！", size: "50x3" %>
          <% if @post_comment.errors.include?(:comment) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:comment).first %>
          <% end %>
        </div>
        <div>
          <%= f.label :comment_image, "コメント画像", class: "col-4" %>
          <%= f.file_field :comment_image, accept: "image/*" %>
        </div>
        <div class="d-flex">
          <div><%= f.label :confession_result, "告白結果", class: "col-4" %></div>
          <div class="mt-4 d-flex flex-wrap">
            <div class="mr-4">
              <%= f.radio_button :confession_result, PostComment.confession_results.key(0) %>
              <%= f.label :confession_result, PostComment.confession_results_i18n[:yes] %>
              <i class="fa-solid fa-heart" style="color: red;"></i>
            </div>
            <div class="mr-4">
              <%= f.radio_button :confession_result, PostComment.confession_results.key(1) %>
              <%= f.label :confession_result, PostComment.confession_results_i18n[:no] %>
              <i class="fa-solid fa-heart-crack" style="color: red;"></i>
            </div>
            <div>
              <%= f.radio_button :confession_result, PostComment.confession_results.key(2) %>
              <%= f.label :confession_result, PostComment.confession_results_i18n[:no_answer] %>
              <i class="fa-solid fa-chess-knight" style="color: red;"></i>
            </div>
          </div>
          <% if @post_comment.errors.include?(:confession_result) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:confession_result).first %>
          <% end %>
        </div>
        <div class="d-flex">
          <div><%= f.label :atmosphere_rate, "雰囲気", class: "col-4" %></div>
          <div class="star_atmosphere_rate mb-2"><%= f.hidden_field :atmosphere_rate %></div>
          <% if @post_comment.errors.include?(:atmosphere_rate) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:atmosphere_rate).first %>
          <% end %>
        </div>
        <div class="d-flex">
          <div><%= f.label :few_people_rat, "人の少なさ", class: "col-4" %></div>
          <div class="star_few_people_rate mb-2"><%= f.hidden_field :few_people_rate %></div>
          <% if @post_comment.errors.include?(:few_people_rate) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:few_people_rate).first %>
          <% end %>
        </div>
        <div class="d-flex">
          <div><%= f.label :standard_rate, "定番度", class: "col-4" %></div>
          <div class="star_standard_rate mb-2"><%= f.hidden_field :standard_rate %></div>
          <% if @post_comment.errors.include?(:standard_rate) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:standard_rate).first %>
          <% end %>
        </div>
        <div class="d-flex">
          <div><%= f.label :all_rate, "総合評価", class: "col-4" %></div>
          <div class="star_all_rate mb-4"><%= f.hidden_field :all_rate %></div>
          <% if @post_comment.errors.include?(:all_rate) %>
            <p style="color: red;" class="offset-4"><%= @post_comment.errors.full_messages_for(:all_rate).first %>
          <% end %>
        </div>
        <div>
          <%= f.submit "投稿", class: "btn btn-primary", style: "width: 150px;" %>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    <% ["atmosphere_rate","few_people_rate","standard_rate","all_rate"].each do |rate| %>
      $('.star_<%= rate %>').empty();
      $('.star_<%= rate %>').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'post_comment[<%= rate %>]',
        half: true,
      })
    <% end %>
  </script>

</div>

