<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1>コメント一覧</h1>

      <%= search_form_for(@q, url: post_comments_list_admin_posts_path) do |f| %>
        <%= f.label :title, "タイトル" %>
        <%= f.search_field :title_cont %>

        <%= f.label :comment, "コメント" %>
        <%= f.search_field :comment_cont %>
        <%= f.submit "検索" %>
      <% end %>

      ランキング検索
      <%= sort_link(@q, :created_at, "新着", default_order: :desc)%>
      <%= sort_link(@q, :all_rate, "総合評価", default_order: :desc) %>
      <%= sort_link(@q, :atmosphere_rate, "雰囲気", default_order: :desc) %>
      <%= sort_link(@q, :few_people_rate, "人の少なさ", default_order: :desc) %>
      <%= sort_link(@q, :standard_rate, "定番度", default_order: :desc) %>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>コメント投稿者</th>
            <th>総合評価</th>
            <th>雰囲気</th>
            <th>人の少なさ</th>
            <th>定番度</th>
            <th>コメント</th>
            <th>告白結果</th>
            <th>投稿日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= image_tag post_comment.get_comment_image, size: "50x50" %></br>
              <%= post_comment.title %>
            </td>
            <td><%= post_comment.customer.name %></td>
            <td>
              <%= post_comment.all_rate.round(1).to_f %>
              <div class="star" data-score="<%= post_comment.all_rate %>"></div>
            </td>
            <td>
              <%= post_comment.atmosphere_rate.round(1).to_f %>
              <div class="star" data-score="<%= post_comment.atmosphere_rate %>"></div>
            </td>
            <td>
              <%= post_comment.few_people_rate.round(1).to_f %>
              <div class="star" data-score="<%= post_comment.few_people_rate %>"></div>
            </td>
            <td>
              <%= post_comment.standard_rate.round(1).to_f %>
              <div class="star" data-score="<%= post_comment.standard_rate %>"></div>
            </td>
            <td><%= post_comment.comment %></td>
            <td><%= post_comment.confession_result_i18n %></td>
            <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to "編集する", edit_admin_post_post_comment_path(post_comment.post, post_comment), class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <script>
        $(document).on('turbolinks:load', function() {
          $('.star').empty();
          $('.star').raty({
            size: 20,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
          });
        });
      </script>

    </div>
  </div>
</div>